.light-theme {
    background-color: #f4f4f4;
    color: #333;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme .sidebar {
    background-color: #333;
}

.dark-theme .main-content, .dark-theme .container {
    background-color: #444;
    color: white;
}
